*{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize; 
}
body{
    background-image: url(Images/img1.jpg) ;
    background-position: center center;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;    
}
.container{
    width: 50%;
    margin: auto;
    margin-top: 35px;
    display: flex;
    box-shadow: 0px 0px 5px 5px rgb(198, 195, 195);
    background-color: rgba(140, 125, 125, 0.399);
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.container h1{
    font-family: monospace;
    color: white;
}

.container input{
    border: 0px;
    outline: none;
    height: 30px;
    width: 230px;
    padding: 0px 05px ;
    border-radius: 7px;

}
.container input[type='date'],input[type='time']{
    width: 105px;
}
.container form{
    
    padding: 5px;
    display:  flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    margin-top: 50px  ;
}
.container .innerForm{
    width: 83%;
    margin: auto;
     display: flex;
     justify-content: space-around;
}
.container button{
    margin-top: 20px;
    font-size: 20px;
    border: 0px;
    color: white;
    background-color: rgb(4, 161, 109);
    padding: 3px 12px;
    border-radius: 7px;
}

.imagesData{
    animation-name:zodiac ;
    animation-duration: 7s;
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
    animation-iteration-count: 1;
    animation-direction: alternate;
    display: flex;
    font-size: 30px;
    font-family: monospace;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 7px;
    color:white;
    background-color: rgba(0, 0, 0, 0.552)  ;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 5px 5px rgba(117, 115, 115, 0.582);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.imagesData img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px grey;
}
@keyframes zodiac {
    0%{
        background-image:url(ImagesSign/aries.jpg) ;
        background-position: left center;
        background-size: 0% 100%;
        opacity: 0;
        
    }
    10%{
        background-image:url(ImagesSign/aries.jpg) ;
        background-position: left center;
        background-size: 25% 100%;
        opacity: 0.25;
        
    }
    20%{
        background-image: url(Images/img1.jpg);
        
        background-position: left center;
        background-size: 50% 100%;
        opacity: 0.50;
        
    }
    30%{
        background-image: url(Images/img4.jpg);
        
        background-position: left center;
        background-size: 75% 100%;
        opacity: 0.75;
        
    }
    40%{
        background-image: url(ImagesSign/sagittarius.jpg);
        background-position: left center;
        background-size: 100% 100%;
        opacity: 1;
    }
    50%{
        background-image: url(ImagesSign/sagittarius.jpg);
        background-position: left center;
        background-size: 75% 100%;
        opacity: 0.75;
    }
    60%{
        background-image: url(Images/img4.jpg);
        background-position: left center;
        background-size: 50% 100%;
        opacity: 0.50;
    }
    70%{
        background-image: url(Images/img1.jpg);
        background-position: left center;
        background-size: 25% 100%;
        opacity: 0.25;
    }
    80%{
        background-image: url(ImagesSign/aries.jpg);
        background-position: left center;
        background-size: 0% 100%;
        opacity: 0;
    }

    
    

    
    
}